nav div{
	padding-top:4em;
}

nav img{
	border-radius:3em 0 0 3em;
	height:100%;
	margin:0px;
	padding:0px;
	float:left;
}

nav{
	background-color:#D9401AD9;
	height:10em;
	border-radius:3em;
}

nav a{
	margin-left:2em;
	font-size:1.3em;
	text-decoration:none;
	color:white;
}

body{
	background-image:url(images/background.jpg);
}

.fancy{
	text-align:left;
	color:white;
	background-color:#D9401AD9;
	border-radius:3em;
	font-size:1.3em;
	padding:1em;
	margin-top:1em;
}

span{
	font-weight:bold;
	font-size:1.5em;
}

.littleBoxAccueil{
	margin:0px;
	padding-right:5%;
	padding-left:5%;
}

img{
	max-width:45%;
	height:15em;
}

dt{
	font-weight:bold;
	color:#E5BA57;
	text-shadow: 1px 1px black;
}

dd{
	color:#E5BA57;
}

h2{
	color:#737568;
	text-shadow: 2px 1px #E5BA57;
}

h3{
	font-size:1.5em;
	font-weight:bold;
	margin:0px;
	padding:0px;
	margin-left:10%;
	color:#E5BA57;
	text-shadow: 2px 1px #737568;
}

table, td, th{
	vertical-align:top;
}

th:first-of-type, td:first-of-type{
	width:5em;
}

th:last-of-type, td:last-of-type{
	width:2em;
	text-align:center;
}

td p{
	margin:0px;
}

td img{
	display:inline-block;
	float:left;
	margin:0px;
	padding:0 1em 0 0;
	width:15em;
	height:auto;
}

table, th, td{
	border: 3px solid #E5BA57;
	border-collapse: collapse;
	text-align:left;
}

th, td, th{
	padding:1px 5px 1px 5px;
}

th{
	color:#E5BA57
}

form{
	background-color:#D9401A;
	color:white;
	border-radius:3em;
	margin-top:5em;
	padding-top:1.5em;
	padding-bottom:1.5em;	
	width:80%;
	margin-left:130px;
	margin-right:100px;
}

label{
	float:left;
	width:150px;
	text-align:left;
	padding-right:10px; 
	margin-top: 15px;
}

input,textarea { 
	display: block;
	margin-top: 15px;
}

input:first-of-type, label:first-of-type{
	margin-top:0px;
}	
#btnsubmit{
	margin-left:200px;
	margin-top:30px;
} 	

#formalign{
	margin-left:30em;
}
	
@media only all and (min-width:1025px){
	#LeftZone{
		float:left;
		width:80%;
	}
	
	#centerZone{
		width:75%;
		display:inline-block;
	}
	
	#bigBoxAccueil{
		width:90%;
		margin:auto;
		margin-top:1em;
	}
	
	#horaire{
		float:left;
		width:25%;
	}
	
	#rightZone{
		float: right;
		width:20%;
	}
	
	dl, dt, dd{
		padding:0%;
	}
	
	dt{
		font-weight:bold;
		padding-left:15%;
	}
	
	dd{
		padding-left:10%;
	}
	
	#midBoxMenu{
		margin:0 5% 0 5%;
	}
	table{
		margin:auto;
		width:80%;
	}
}

@media only all and (min-width:769px) and (max-width:1024px){
	#horaire{
		float:left;
		width:49%;
	}
	
	#rightZone{
		float:right;
		width:49%;
		height:100%;
	}
	
	dd, dt{
		padding-left:10%;
	}
	
	dt{
		float: left;
		clear: left;
		width: 100px;
		text-align: right;
		font-weight: bold;    
	}
	
	dt:after{
		content: ":";
	}
	
	dd{
		margin: 0 0 0 110px;        
	}
}

@media only all and (max-width:768px){
	nav img{
		border-radius:0px;
	}

	nav a{
		display:block;
	}
	
	nav div{
		padding-top:1em;
	}
	
	body{
		background-image:none;
		background-color:#D9401A;
	}
	
	.fancy{
		color:white;
		box-sizing: border-box;
		border-style:solid;
	}
	
	dd, dt{
		padding-left:10%;
	}
	
	dt{
		float: left;
		clear: left;
		width: 100px;
		text-align: right;
		font-weight: bold;    
	}
	
	dt:after{
		content: ":";
	}
	
	dd{
		margin: 0 0 0 110px;        
	}
	
	td img{
		display:none;
	}
}



